.main {
  width: 100%;
  min-height: 900px;

  .main_left {
    float: left;
    width: 0;
    min-height: 900px;
    background: #153d6c;
    &.main_left_menu {
      width: 220px;
      transition: width 1s;
    }
    &.left_hide {
      transition: width 1s;
    }
    .top_menu {
      height: 80px;
      width: 100%;
      background: #fff;
      text-align: center;
      display: block;
      img {
        width: 150px;
        height: 80px;
      }
    }
    .bottom_menu {
      background: #153d6c;
      width: 100%;
      height: calc(100% - 80px);
      display: block;
      color: #fff;
      &.d_none {
        display: none;
      }
      .bottom_list {
        padding: 0px 10px;
      }
      .title_bottom {
        margin-left: 10px;
      }
      .description_bottom {
        margin-left: 25px;
      }
    }
  }
  .main_right {
    width: 100%;
    float: right;
    height: 100%;
    &.main_right_menu {
      width: calc(100% - 220px);
      transition: width 1s;
    }
    &.right_hide {
      transition: width 1s;
    }
    .top_content {
      height: 80px;
      width: 100%;
      background: #153d6c;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      position: relative;
      .stick_menu {
        width: 30px;
        height: 22px;
        position: absolute;
        left: 15px;
        top: 22px;
        cursor: pointer;
        border-radius: 3px;
        padding-top: 7px;
        .line {
          width: 12px;
          height: 2px;
          background: #fff;
          margin-bottom: 4px;
          margin-left: 8px;
        }

      }
    }
    .title_content_right {
      padding: 0 10px;
      p {
        font-weight: bold;
        font-size: 20px;
      }
    }
    .title_menu {
      margin: 0;
      padding-top: 12px;
    }
    .title_home {
      position: absolute;
      right: 20px;
      font-size: 14px;
      margin: 0;
      top: 30px;
      cursor: pointer;
    }
    .container_right {
      border-radius: 5px;
      margin-top: 10px;
      padding: 0 10px;

      .child_content_right {

        display: flex;
        .group_btn {
          width: calc(100% - 20px);
          height: 50px;
          background: #e7e4e5;
          position: relative;
          margin: 15px 10px 5px 10px;
          .btn_left {
            position: absolute;
            right: 75px;
            top: 12px;
            background: #5676b1;
            color: #fff;
            padding: 1px 5px;
            cursor: pointer;
          }
          .btn_right {
            position: absolute;
            right: 10px;
            top: 12px;
            background: #255bbd;
            color: #fff;
            padding: 1px 5px;
            cursor: pointer;
          }
        }
        .content_left {
          width: 40%;
          float: left;
          .content_left_title {
            padding: 10px 9px 10px 28px;
            font-size: 15px;
            display: flow-root;
            position: relative;
            .line_tittle {
              width: 3px;
              height: 20px;
              background: #0a6ebd;
              position: absolute;
              top: 15px;
              left: 30px;
            }
            span {
              color: #000;
              float: left;
              margin-left: 10px;
              margin-top: 2px;
            }
            button {
              padding: 3px 30px;
              background: #153d6c;
              float: right;
              color: #fff;
              border-radius: 5px;
              border: none;
              font-size: 1.1rem;
              cursor: pointer;
            }
          }
          .log_time {
            padding: 10px 35px;
            font-size: 15px;
            display: flow-root;
            position: relative;
            .line_log_tittle {
              width: 3px;
              height: 20px;
              background: #0a6ebd;
              position: absolute;
              top: 15px;
              left: 30px;
            }
            span {
              color: #000;
              float: left;
              margin-left: 10px;
              margin-top: 2px;
            }
            button {
              padding: 3px 20px;
              background: #153d6c;
              float: right;
              color: #fff;
              border-radius: 5px;
              border: none;
              font-size: 1.1rem;
              cursor: pointer;
              margin-right: -25px;
            }
          }
          .data_input {
            width: calc(100% - 45px);
            margin: 0 30px;
            border: 1px solid #5280c5;
          }
          .data_output {
            width: calc(100% - 60px);
            margin: 0 30px 10px 30px;
            border: 1px solid #5280c5;
            padding: 0 10px;
            height: 300px;
            overflow: scroll;
          }
        }
        .width60 {
          width: 60%;
        }
        .width100 {
          width: 100%;
        }
        .content_right {
          height: 515px;
          float: right;
          .menu_right {
            display: flex;
            padding: 10px;
            button {
              background: transparent;
              border: none;
              margin-left: 19px;
            }

            span {
              display: inline-block;
              margin-left: 15px;
              font-size: 24px;
              margin-top: 2px;
            }
          }
          .group_config {
            height: 55px;
            margin: 20px 30px;
            .config_top {
              width: 100%;
              button {
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                margin-left: 3px;
                border-radius: 3px;
                border: none;
              }
              .btn_loading {
                background: #494949;
                padding: 5px 10px;
              }
              .btn_rendering {
                background: #888888;
                padding: 5px 10px;
              }
              .btn_sort {
                background: #888888;
                padding: 5px 10px;
                width: 100px;
              }
              .btn_filter {
                background: #888888;
                padding: 5px 10px;
                width: 100px;
              }
              .btn_scroll {
                background: #888888;
                padding: 5px 10px;
                width: 100px;
              }
              .btn_measurement {
                background: #494949;
                padding: 6px 10px;
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                margin-left: 3px;
              }
            }
            .config_bottom {
              width: 100%;
              button {
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                margin-left: 3px;
                border-radius: 3px;
                border: none;
                margin: 5px;
              }
              .btn_start {
                background: #494949;
                padding: 5px 10px;
              }
              .btn_active {
                border-radius: 3px;
                color: #000;
                padding: 5px 10px;
                border: 1px solid #888888;
                background: transparent;
              }
              .custom_input {
                background: transparent;
                border: 1px solid #888888;
                border-radius: 3px;
                padding: 5px 10px;
                width: 40%;
                &:focus, &:active {
                  border: 1px solid #888888;
                  outline: none;
                }
              }
            }
          }
          .title_devextreme {
            padding: 20px;
            background: #b6b1b1;
            margin: 20px 36px;
            font-size: 1.4rem;
            text-align: center;
          }
          .devextreme_custom {
            height: 100%;
            width: 100%;
          }
          .gridbox {
            height: 590px;
            width: 94%;
            overflow: auto;
            padding: 15px;
            margin: 0 20px;
            border: 1px solid #000;
          }
        }
      }
    }
  }
}
